
.editForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #0A81AB;
  color:#0A81AB;
  width: 20.5rem;
}
.editContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.editTitle {
  color:#0A81AB;
  display: flex;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

.editFormTitle{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:20rem;
  border: 1px solid #0A81AB;

}

.editFormDescription{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:20rem;
  height:5rem;
  border: 1px solid #0A81AB;
}
.editFormSubmit {
  margin-right: 1rem;
  color:white;
  background-color: #0A81AB;
  border:none;
}
.editFormCancel{
  color:white;
  background-color: #0A81AB;
  border:none;
  text-decoration: none;
  padding-left:.3rem;
  padding-right:.3rem;
  font-size: 0.9rem;
}
