
.editForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #2978B5;
  color:#2978B5;
  width: 20.5rem;
}
.editContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.editTitle {
  color:#2978B5;
  display: flex;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

.editFormTitle{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:20rem;
  border: 1px solid #2978B5;

}

.editFormDescription{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:20rem;
  height:5rem;
  border: 1px solid #2978B5;
}
.editFormSubmit {
  margin-right: 1rem;
  color:white;
  background-color: #2978B5;
  border:none;
}
.editFormCancel{
  color:white;
  background-color: #2978B5;
  border:none;
  text-decoration: none;
  padding-left:.3rem;
  padding-right:.3rem;
}
