.profileTitle{
  color:rgb(113, 233, 233);
  display: flex;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
.profileInnerContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profileContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileThumbNails{
  width: 20rem;
  margin-top: 2.5rem;
  margin-left:2.5rem;
  margin-right:2.5rem;
  border: 3px solid rgb(113, 233, 233);


}

.profileThumbNailTitle{
  display:flex;
  justify-content: center;
  color: rgb(113, 233, 233);
  /* max-width: 12rem;
  margin-left: 6rem; */

}

.profileThumbNailDesc{
  text-decoration: none ;
}

.profileSearch{
  position: absolute;
  top: 1rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
  border: 1px solid rgb(113, 233, 233);
  color:rgb(113, 233, 233)
}

.profileSearch::placeholder{
  color:rgb(113, 233, 233);
}
