.profileTitle{
  color:#0A81AB;
  display: flex;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
.profileInnerContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profileContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileThumbNails{
  width: 20rem;
  margin-top: 2.5rem;
  margin-left:2.5rem;
  margin-right:2.5rem;
  border: 3px solid #0A81AB;

}
.profileThumbNails:hover{
  border-color:white;
}
.profileThumbNailTitle:hover{
  color:white;  
}

.profileThumbNailTitle{
  display:flex;
  justify-content: center;
  width: 25rem;
  color: #0A81AB;
}

.profileThumbNailDesc{
  text-decoration: none ;
}

.profileSearch{
  position: absolute;
  top: 1rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
  border: 1px solid #0A81AB;
  color:#0A81AB
}

.profileSearch::placeholder{
  color:#0A81AB;
}
