.profileTitle{
  color:rgb(113, 233, 233);
}

.profileContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileThumbNails{
  width: 35rem;
  margin-top:4rem;
  border: 3px solid rgb(113, 233, 233);
  margin-left: 1rem;
}

.profileThumbNailTitle{
  margin-left: 13rem;
  max-width: 20rem;
  color: rgb(113, 233, 233);

}

.profileThumbNailDesc{
  text-decoration: none ;
}

.profileSearch{
  position: absolute;
  top: 1rem;
  left: 34.5rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
}
