.uploadFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:-8rem;
  height: 100vh;
}
.uploadForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #0A81AB;
}

.uploadGreeting{
  color:#0A81AB;
}

.fileUpload{
  margin-left: 5rem;
   margin-top: 1rem;
   margin-bottom: 3rem;
   color:#0A81AB;
}

.uploadTitle{
  border: 1px solid #0A81AB;
  width:20rem;
  height:1.5rem;

}

.uploadDescription{
  border: 1px solid #0A81AB;
  width:20rem;
  height:5rem;
  margin-top: 3rem;
}

.uploadSubmit{
  color:white;
  background-color: #0A81AB;
  border:none;
  margin-top: 2rem;
}

.uploadSubmit:hover{
  color:#0A81AB;
  background-color: white;
}
