.homePageContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

.homeInnerContainer{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}


.thumbNails{
  margin: 2.5rem;
}

.homeThumbNails{
  /* display:flex;
  flex-direction: row; */
  margin-top: 1rem;
  width: 20rem;
  border: 3px solid #DBE6FD;
}

.thumbTitle{
  max-width: 12rem;
  color:#DBE6FD;
  margin-left:6rem;
}

.thumbNaildescrip{
  text-decoration: none;
  font-weight:bolder;
}

.homeSearch{
  position: absolute;
  top: 1rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
  border: 1px solid #DBE6FD;
  color:#DBE6FD

}

.homeSearch::placeholder{
  color:#DBE6FD
}

.thumbNailUserName{
  display: flex;
  justify-content: center;
  color:#DBE6FD;
  text-decoration: none;
  margin-top: 1rem;
}

.thumbNailUserNameCircle{
  position: relative;
  background-color: #DBE6FD;
  color: white;
  border-radius: 50%;
  border:none;
  padding-top: .8rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-bottom: .8em;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 1rem;


}

.circleAndUserName{
  display: flex;
  justify-content: center;
}
