.homePageContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

.homeTitle{
  margin-left: 12.5rem;
  color: rgb(113, 233, 233);
}

.thumbNails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;

}

.homeThumbNails{
  width: 35rem;
  margin-top:4rem;
  border: 3px solid rgb(113, 233, 233);
}

.thumbTitle{
  margin-left: 13rem;
  max-width: 20rem;
  color:rgb(113, 233, 233);
}

.thumbNaildescrip{
  text-decoration: none;
}

.homeSearch{
  /* margin-bottom:60rem; */
  /* margin-left: 35rem; */
  position: absolute;
  top: 1rem;
  left: 34.5rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
}
