.homePageContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

.homeInnerContainer{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}


.thumbNails{
  margin: 2.5rem;
}
.thumbNailUserNameCircle:hover{
  color:#0A81AB;
  background-color: white;
}
.thumbTitle:hover{
  color: white;
}
.homeThumbNails:hover{
  border-color:white;
}

.thumbNailUserName:hover{
  color:white;
}

.homeThumbNails{
  margin-top: 1rem;
  width: 20rem;
  border: 3px solid #0A81AB;
}

.thumbTitle{
  display: flex;
  justify-content: center;
  max-width: 20rem;
  color:#0A81AB;
}

.thumbNaildescrip{
  text-decoration: none;
  font-weight:bolder;
}

.homeSearch{
  position: absolute;
  top: 1rem;
  width: 20rem;
  height: 1rem;
  text-align: center;
  border: 1px solid #0A81AB;
  color:#0A81AB

}

.homeSearch::placeholder{
  color:#0A81AB
}

.thumbNailUserName{
  display: flex;
  justify-content: center;
  color:#0A81AB;
  text-decoration: none;
  margin-top: 1rem;
}

.thumbNailUserNameCircle{
  position: relative;
  background-color: #0A81AB;
  color: white;
  border-radius: 50%;
  border:none;
  padding-top: .8rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-bottom: .8em;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 1rem;


}

.circleAndUserName{
  display: flex;
  justify-content: center;
}
