.navContainer {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #DBE6FD;
  height: 2.2rem;
  background-color: white;

}
.dropbtn {
  background-color: #DBE6FD;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height:2rem;
  border:none;
  margin-right:2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
  display: flex;
  /* justify-content: flex-start; */
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

.uploadButton{
  color: #DBE6FD;
  margin-right:2rem;
  margin-bottom: 1rem;
}

.navBarHome{
  width: 10rem;
}
.homeContainer{
  display:flex;
  align-items: flex-start;
  height: .5rem;
}
